<!DOCTYPE html>
<html>
<head>
  <title>JskitExample</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h2>App Payload</h2>
  <div id="app-payload"></div>
  <h2>Controller Payload</h2>
  <div id="controller-payload"></div>
  <%= yield %>
  <%= javascript_include_tag 'application' %>
  <%= jskit %>
</body>
</html>
